.App {
  max-width: 960px;
  margin: 0 auto;
}

.App header {
  text-align: center;
  margin: 30px 0;
}

.App footer {
  text-align: center;
  margin: 30px 0;
}

html body {
  background: #dbdbdb;
}

.App a {
  color: rgb(46, 37, 25);
}

h1 {
  text-transform: uppercase;
}
